/* Definición de la fuente personalizada */
@font-face {
  font-family: "like";
  src: url(/Fonts/widges/Widges-Demo.ttf);
}

/* Estilos generales del cuerpo del documento */
body {
  margin: 0; /* Elimina el margen superior y inferior */
  padding: 0; /* Elimina el padding del contenido */
  background-color: #111110;
  /* Simplemente lo uso para que los footers queden abajo siempre bien ajustados :D */
  display: grid;
  flex-direction: column;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; 
}

/* Estilos de la sección de Proyectos */
.Proyectos {
  max-width: 80%;
  width: 60%;
  margin: 2% auto;
  padding: 5%;
  color: #ccf381;
  border-radius: 15px;
  text-align: center;
  background: #333;
  width: auto;
}

.Proyectos h1,
.Proyectos h2 {
  font-family: "like";
  font-size: 1.5rem;
}

.Proyectos p {
  font-size: 1.2rem;
  font-family: 'Titillium Web', sans-serif;
}


/* Estilos de la sección de Proyectos específicamente */
.proyecto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar la columna */

}

.proyecto {
  margin: 0 10px 20px; /* Añade padding y espacio entre filas */
  box-sizing: border-box; /* Incluye padding en el ancho */
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 15px; /* Añade padding al contenido */

}


.texto {
  text-align: center; /* Centra el texto horizontalmente dentro de .texto */
  margin-top: 15px; /* Ajusta el margen superior según sea necesario */
}


.proyecto h1,
.proyecto h2 {
  font-family: "like";
  font-size: 1.5rem;
}

.proyecto p {
  font-size: 1.2rem;
  font-family: 'Titillium Web', sans-serif;
}

/* Estilos del contenedor de elementos dentro del proyecto */
.elemento-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.elemento-container img {
  width: 100%;
}

.elemento-container strong {
  font-size: 1.5em;
}

.elemento-container p {
  margin: 5px 0;
}

/* Estilos de la sección de Contacto */
.Contacto {
  width: 80%;
  margin: 2% auto;
  padding: 5%;
  color: #ccf381;
  border-radius: 15px;
  text-align: center;
  background: #333;;
}
.formulario{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #ccf381;
  
}
.formulario2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ccf381;
  
}

.formulario p{
  font-size: 1.2rem;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}
.formulario2 p{
  font-size: 1.2rem;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}
.formulario input{
  margin: 30px;
  width: 30%; /* Garantiza que todos los elementos tengan el mismo ancho */
  height: 35px;
  margin-bottom: 10px;

}
.formulario .boton{
  width: 10%;
  height: 10%;
  background-color: #ffffff;
  color:#000000;
  cursor: pointer;
}
/* Media query para pantallas pequeñas (max-width: 768px) */
@media screen and (max-width: 768px) {
  .proyecto-container {
    flex-direction: column;
  }
}
